@import url("https://fonts.googleapis.com/css2? family= EB+Garamond:wght@400;700;800 & display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fondo: #2f2a2a;
  /* --naranja: #fe7300; */
  --blue: #054af880;
  --blanco: #f4f4f8;
  --bold: 800;
  --medium: 700;
  --regular: 400;
}

/* body */

body {
  width: 100%;
  font-family: "Garamond", sans-serif;
  background-color: var(--fondo);
  max-width: 1300px;
}
/* header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 2px black solid;
  height: 13vh;
  width: 100%;
}

.logo-header {
  width: 60px;
  height: 60px;
  margin-left: 25px;
  background-color: var(--blue);
  padding: 5px;
  border-radius: 2rem;
}

.logo-header:hover {
  transform: rotate(-17deg);
}

.fa-solid {
  display: none;
}

.toggle {
  list-style: none;
  color: var(--blanco);
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.toggle li {
  margin: 0px 20px;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 10px;
}

nav input {
  display: none;
}

ul a {
  text-decoration: none;
  color: var(--blanco);
}

ul a :hover {
  background-color: var(--blue);
  border-radius: 2rem;
  transform: scale(1.1);
}

/* empieza el hero */

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 150px 15px;
  width: 95%;
}

@keyframes apareciendo {
  0% {
    left: -1000px;
  }
  100% {
    left: 0px;
  }
}
.hero-img {
  letter-spacing: 20px;
  position: relative;
  animation: apareciendo ease 1s 0.5s;
  width: 95%;
}

.titulo {
  font-weight: 800;
  font-size: 7rem;
  text-align: center;
}

.titulo span {
  color: var(--blue);
}

.perro-hero {
  position: absolute;
  top: 100px;
  right: 25px;
  height: 100%;
  width: 100%;
}

.hero-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 1.5;
  font-weight: var(--medium);
  color: var(--blanco);
}

.hero-container-text h2 {
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid var(--blue);
  font-weight: var(--bold);
  letter-spacing: 10px;
}

.hero-container-text p {
  margin-bottom: 40px;
  width: 80%;
  text-align: justify;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-hero {
  color: white;
  background-color: var(--blue);
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 25px;
  padding: 0px 15px;
  border-radius: 10px;
}

.boton-hero:hover {
  transform: scale(1.1);
  background-color: rgb(16, 24, 103);
}

/* section nosotros */

.nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blanco);
  background-color: var(--blue);
  margin: 0 40px 75px;
  padding: 5px;
  border-radius: 2rem;
  width: 95%;
}

.nosotros-text {
  margin: 0 30px;
  text-align: justify;
  line-height: 2;
}

.nosotros-text h2 {
  margin-bottom: 10px;
  letter-spacing: 7px;
  border-bottom: 2px solid var(--fondo);
  width: 80%;
}

.img {
  width: 50vw;
  border-radius: 2rem;
}

/* termina section nosotros-inicia adopta. */

.adopta {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blanco);
  background-color: var(--blue);
  border-radius: 2rem;
  padding: 5px;
  margin: 0 40px 75px;
  width: 95%;
}

.adopta-img img {
  width: 50vw;
  border-radius: 2rem;
}

.adopta-text {
  margin: 0 25px;
}

.adopta-text h2 {
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 15px;
  padding-bottom: 30px;
}
.adopta-text p {
  text-align: justify;
  line-height: 1.5;
}
/* termina adopta-inicia titulo y galeria de imagenes */

.title-imgenes {
  width: 80vw;
  margin: 0 auto;
}
.title-galeria {
  color: var(--blanco);
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.5;
  border: 2px solid var(--blue);
  margin-bottom: 75px;
}

/* termina titulo de galeria de imagenes- empieza galeria de imagenes*/

.galeria {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.galeria img {
  border-radius: 1rem;
  width: 35vw;
  margin: 15px;
  height: 350px;
}

.galeria img:hover {
  opacity: 70%;
  transform: scale(1.1);
}

.item-1,
.item-2,
.item-3,
.item-4 {
  position: relative;
}

.item-1 span,
.item-2 span,
.item-3 span,
.item-4 span {
  position: absolute;
  top: 40px;
  left: 20px;
  font-weight: 800;
  font-size: 2rem;
}
.item-1 a,
.item-2 a,
.item-3 a,
.item-4 a {
  position: absolute;
  border: none;
  border-radius: 50%;
  padding: 25px;
  background-color: rgba(0, 0, 255, 0.606);
  color: black;
  right: 50px;
  bottom: 35px;
  font-size: 1.5rem;
  text-decoration: none;
}

.item-5 {
  position: relative;
}

.adoptado {
  position: absolute;
  right: 12px;
  bottom: 82px;
  border-radius: 2rem;
  padding: 5px;
  transform: rotate(-30deg);
  color: var(--blanco);
  background-color: var(--blue);
  font-weight: 800;
  font-size: 2rem;
}

footer {
  margin: 75px 20px;
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid black;
  color: var(--blanco);
}

.contacto-container {
  width: 200px;
}

.contacto-container p {
  margin-bottom: 15px;
}

footer img {
  width: 60px;
  height: 60px;
}

.footer-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.footer-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-about h3 {
  margin-bottom: 20px;
}

.footer-about p {
  line-height: 1.5;
  margin-bottom: 15px;
}

.iconos-footer {
  margin-top: 15px;
}

.iconos-footer i {
  margin: 0px 20px;
  font-size: 3rem;
  color: var(--blanco);
}

.iconos-footer i:hover {
  color: rgb(98, 172, 155);
  transform: scale(1.1);
}

/* Logo fijo de whasap  */
.fixed {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 25px;
  bottom: 25px;
}

@media (max-width: 1000px) {
  .hero-container,
  .hero-img,
  .hero-container-text,
  .nosotros,
  .adopta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px auto;
  }

  .perro-hero {
    display: none;
  }

  .nosotros {
    margin-bottom: 50px;
  }

  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    letter-spacing: 20px;
  }

  .adoptado {
    position: absolute;
    right: 20%;
    bottom: 80px;
    border-radius: 2rem;
    padding: 5px;
    transform: rotate(-30deg);
    color: var(--blanco);
    background-color: var(--blue);
    font-weight: 800;
    font-size: 180%;
  }
}

@media (max-width: 650px) {
  .hero-container {
    margin-top: 120px;
  }
  /* menu hamburguesa */

  .fa-solid {
    font-size: 2.5rem;
    display: block;
    position: absolute;
    right: 25px;
    top: 20px;
  }

  .menu-toggle {
    display: none;
    position: relative;
  }

  .toggle {
    display: none;
    text-align: center;
    background-color: rgb(0, 0, 146);
    border-radius: 2rem;
    position: absolute;
    top: 82px;
    right: 10px;
    z-index: 1;
    width: 100%;
  }

  .toggle li {
    display: block;
  }

  .menu-toggle:checked + .toggle {
    display: block;
  }

  /* hero mobile */

  .perro-hero {
    display: none;
  }

  .titulo,
  span,
  .botones,
  .nosotros,
  .adopta,
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .nosotros,
  .adopta {
    width: 80vw;
  }

  .adopta-img,
  .adopta-img,
  .nosotros-text {
    margin-bottom: 16px;
  }

  .boton-hero {
    margin-bottom: 25px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .contacto-container,
  .logo-footer-container,
  .footer-about {
    margin-bottom: 16px;
  }

  .footer-about {
    width: 80%;
  }

  .iconos-footer {
    display: flex;
  }

  .iconos-footer i {
    margin: 0px 15px;
    font-size: 2.5rem;
  }

  .galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .galeria img {
    width: 80%;
    margin-left: 50px;
  }

  .item-1 span,
  .item-2 span,
  .item-3 span,
  .item-4 span {
    position: absolute;
    top: 40px;
    left: 70px;
    font-weight: 800;
    font-size: 2rem;
  }

  .item-1 a,
  .item-2 a,
  .item-3 a,
  .item-4 a {
    position: absolute;
    border: none;
    border-radius: 50%;
    padding: 25px;
    background-color: rgba(0, 0, 255, 0.606);
    color: black;
    right: 80px;
    bottom: 35px;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .adoptado {
    position: absolute;
    right: 20%;
    bottom: 80px;
    border-radius: 2rem;
    padding: 5px;
    transform: rotate(-30deg);
    color: var(--blanco);
    background-color: var(--blue);
    font-weight: 800;
    font-size: 150%;
  }
}
